<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">Purva's App</h3>
        </div>

        <div class="jumbotron horizontal-left">
            <h1>Electrochemical Impedance Spectroscopy Test</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showForm" role="button">Fill out Parameters</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Potentiostatic EIS</h4>
                <p>Fill out the start and stop frequency</p>

                <h4>Potentiostatic EIS</h4>
                <p>Fill out the start and stop frequency</p>

            </div>

            <div class="col-lg-6">
                <h4>Potentiostatic EIS</h4>
                <p>Fill out the start and stop frequency</p>

                <h4>Potentiostatic EIS</h4>
                <p>Fill out the start and stop frequency</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; University of Cincinnati 2018</p>
        </footer>

    </div>
</body>

</html>