<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/model.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Purva's Web App</h3>
      </div>

      <div class="jumbotron">
        <h1>EIS Potentiostat</h1>
        <form method=post action="">
        <table>
        {% for field in form %}
        <tr>
        <td>{{ field.name }}</td><td>{{ field }}</td>
        <td>{{ field.label }}</td>
        </tr>
        {% endfor %}
        </table>
<p><input class="btn btn-lg btn-primary btn-block" type=submit value=StartTest></form></p>



<p>
{% if result != None %}
<img src="{{ result }}" width="500">
{% endif %}
</p>
      </div>

      <footer class="footer">
        <p>&copy; University of Cincinnati 2018 </p>
      </footer>

    </div>
  </body>
</html>